:root {
    --background :  #fefefe;
    --pale : #e9e0d1;
    --ligth-green : #91a398;
    --green : #33605A;
    --black: #070001;
    --brown : #68462b;
    --dark-green: #005151;
    --red : #F9423A;
    --yellow: #FFB81C;
    --white: #FBF9EE;
    --dark: #000000;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex", Arial, sans-serif;
    ;
}

body {
    background-color: var(--background);
    font-size: 16px;
    overflow-x: hidden;
}

header,
main,
footer {
    margin: 1rem;
    position: relative;
}
head {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: var(--white);
    border-bottom: 1px solid #eee;
    text-shadow: 0 0 15px var(--black);
    width: 60%;
    padding: 50px 0px 0px 5px;
    text-align: center;
    font-size: 2.8rem;
}

.hero-image {
    display: block;
    text-align: center;
    background-image: url(../images/porto-alegre-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}
h2 {
    color: var(--dark-green);
    margin: 0 0 1rem 0;
    border-bottom: 1px solid var(--ligth-green);
}


p {
    margin: 0;
}

main {
    margin-left: 2rem;
}


section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo {
    width: auto;
    box-shadow: 0 0 30px var(--green);
    border: none;
    height: 50px;

}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    padding: 1em;
    margin-top: 15px;
    border-top: 1px solid var(--black);
    text-align: center;

}

/* CTA  */

.cta {
    color: var(--black);
    background-color: var(--yellow);
    padding: 1rem 3rem 1rem 3rem;
    box-shadow: 0 0 20px var(--white);
    margin: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;


}


/* Menu Mobile View */
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: var(--white);
	color: var(--dark-green);
    position: absolute;
    right: 2.5rem;
    top: 1rem;
    border: none;
}

#menu::before {
	content: "≡";
}

#menu.open::before {
    content: "\00d7";
}

nav {
	background-color: var(--dark-green);
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: var(--white);
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: var(--red);
	background-color: var(--white);
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

/* grid and list  */

.visualCards {
    margin: 1rem auto;
	background-color: var(--white);
	text-align: center;
}

.visualCards button {
	padding: 1rem;
	font-weight: 700;
}


/* Cards */


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    align-items: center;
}
h3 {
    margin: 0;
}

h4 {
    color: var(--brown);
    margin: 7px 0 5px 0;
}

img {
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #333;
}

.own {
    background-color: var(--white);
}
