
:root {
    --background: #fefefe;
    --pale: #e9e0d1;
    --ligth-green: #91a398;
    --green: #33605A;
    --black: #070001;
    --brown: rgb(104, 70, 43);
    --dark-green: #005151;
    --red: #F9423A;
    --yellow: #FFB81C;
    --white: #FBF9EE;
    --dark: #000000;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex", Arial, sans-serif;
}

body {
    background-color: var(--background);
    font-size: 16px;
    overflow-x: hidden;
}

header,
main,
footer {
    margin: 1rem;
    position: relative;
}

header {
display: block;
}

h1 {
    color: var(--white);
    border-bottom: 1px solid #eee;
    text-shadow: 0 0 3px var(--dark-green);
    width: 60%;
    padding: 50px 0px 0px 5px;
    text-align: center;
    font-size: 2.8rem;
    word-wrap: break-word;
    overflow-wrap: break-word;

}

.hero-image {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url(../images/porto-alegre-hero\ copy.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}

h2 {
    color: var(--dark-green);
    margin: 0 0 1rem 0;
    border-bottom: 1px solid var(--ligth-green);
}


p {
    margin: 0;
    padding: 3px;
}

main {
    margin-left: 2rem;
}


section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-name{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    width: auto;
    height: 50px;
    box-shadow: 0 0 30px var(--green);
    border: none;
    margin-right: 10px;

}

figcaption {
    color: var(--dark-green);
    font-size: 1rem;
    font-weight: bold;
    padding: 8px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--background);
    padding: 1em;
    margin-top: 15px;
    border-top: 1px solid var(--black);
    text-align: center;
}
 .todays {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    align-content: center;
    gap: 10px;
 }

.todays div {
    grid-column: 1;
}

/* CTA  */

.cta {
    color: var(--black);
    background-color: var(--yellow);
    padding: 1rem 3rem 1rem 3rem;
    box-shadow: 0 0 20px var(--white);
    margin: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width: fit-content;
    
}


/* Menu Mobile View */
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: var(--white);
    color: var(--dark-green);
    position: absolute;
    right: 2.5rem;
    top: 0rem;
    border: none;
}

#menu::before {
    content: "≡";
}

#menu.open::before {
    content: "\00d7";
}

nav {
    background-color: var(--dark-green);
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
    color: var(--red);
    background-color: var(--white);
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

/* grid and list  */

#viewCards {
    margin: 1rem auto;
    background-color: var(--white);
    text-align: center;
}

.viewCards button {
    padding: 1rem;
    font-weight: 700;
}


/* Cards */


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center ;
}

#current-weather , 
#weather-forecast ,
#events {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#events{
    font-size: 1rem;
    color: var(--brown);
}


h3 {
    margin: 0;
    padding: 1rem;
}

h4 {
    color: var(--brown);
    margin: 7px 0 5px 0;
}

img {
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: auto;
    border: 1px solid #333;
}
.weatherIcon {
    box-shadow: 0 0 30px var(--green);
    border: 0px;
    border-radius: 8px;
    background: var(--ligth-green);
    margin: 5px;
}
.own {
    background-color: var(--white);
}

/* list  */

.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.ownList {
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: space-between;
}


/* form  */

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    background-color: var(--ligth-green);
    border-radius: 5px;
    box-shadow: 0 4px 8px var(--green);
    margin: 0 auto;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 0.3rem;
    border: 1px solid var(--dark-green);
    border-radius: 3px;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}

#membership {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;

}

form label {
    align-self: flex-start;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    color: var(--black);
    padding: 3px;
}

fieldset {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--brown);
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: var(--dark-green);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    padding: 0.6rem;
}

form input[type="submit"]:hover {
    background-color: var(--brown);
}

.membership-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
}

.membership-cards .card {
    background-color: var(--pale);
    padding: 20px;
    text-align: center;
    margin: 10px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 2px 10px var(--brown);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;

}

.membership-cards .card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card button {
    background-color: var(--brown);
    color: var(--background);
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: var(--ligth-green);
} 

dialog {
    padding: 20px;
    max-width: 400px;
    margin: 10% auto;
    border-radius: 8px;
}

dialog button ,
.discover-card button {
    background-color: var(--brown);
    color: var(--pale);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    float: inline-end;
    margin-top: 1rem;
}

dialog button:hover,
.discover-card button:hover{
    background-color: var(--ligth-green);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: auto;
}
.container h1 {
    color: #005151;
    font-size: 2.9rem;
    width: 100%;
    padding: 2px;
    
}
.container p {
    font-size: 18px;
    padding: 8px;
}

#join-title,
#discover-title {
    color: var(--brown);
    text-shadow: none;
    font-size: 2.5rem;
    width: 100%;
    padding: 2px;
}

#place-1 {
    grid-area: item1;
}
#place-2 {
    grid-area: item2;
}
#place-3 {
    grid-area: item3;
}
#place-4 {
    grid-area: item4;
}
#place-5 {
    grid-area: item5;
}
#place-6 {
    grid-area: item6;
}
#place-7 {
    grid-area: item7;
}
#place-8 {
    grid-area: item8;
}


#places-cards {
    display: grid;
    gap: 20px;
    grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        "item7"
        "item8";
}
.discover-card {
    background: var(--pale);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--brown);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    text-align: center;
}

#places-cards {
    background: var(--pale);
    padding: 15px;
    border-radius: 8px;
}

.place {
    box-shadow: 0 2px 10px var(--brown);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.place:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#places-cards img {
    width: 300px;
    height: 200px;

}


.sidebar {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 300px;
    position: relative;
    animation: fadeIn 0.5s ease-in-out;
}
.side-close-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

