@media only screen and (min-width: 40em) {
	nav {
        grid-column: 1/4;
        align-content: center;
    }
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; 
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
    .figures {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}